.book-item-container {
  border-radius: 5px;
  display: flex;
  padding: auto;
  background-color: transparent;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Estilos para pantallas de móviles */
@media (max-width: 767px) {
  .book-item-container {
    padding: 10px; /* Ajusta el espaciado interno en pantallas móviles */
  }
  
  .book-item-container img {
    height: 200px; /* Ajusta el tamaño de la imagen en pantallas móviles */
  }
  
  .card-title {
    text-align: center; /* Centra el título en pantallas móviles */
  }
}
