.cart-dropdown-container {
  position: relative;
  display: inline-block;
}

.cart-dropdown-container img {
  cursor: pointer;
}

.cart-dropdown-container > div {
  position: absolute;
  width: 400px;
  top: -30%;
  right: 50%;
  background-color: #fff;
  border: 1px solid #ccc;
  min-width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}