@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");


.book-item-container-dark {
  background-color: #020c1a;
  color: white;

}


.react-multi-carousel-list {
  /* Si pongo el justify me deja una card vacía en el carousel */
  align-items: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  height: 420px;
}
.p-destacados {
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

img {
  width: 270px;
  max-height: 300px;
}

.container {
  justify-content: center;
  align-items: center;
  text-align: center;
  background: transparent;
  /* Agrega esta propiedad para eliminar el margen superior */
  margin-top: 0;

}


h1 {
  font-family: "Space Grotesk", sans-serif;
  text-align: start;
  margin-bottom: 5px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.card {
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  max-width: 440px;
  margin: auto 0.5rem;
  text-align: center;
  font-family: arial;
  background: transparent;
  border-radius: 5px;
  box-shadow: 0 12px 12px 0 rgba(-3, 15, 25, 0.2);
}

h4 {
  font-size: 18px;
}


p {
  text-align: center;
  font-family: monospace;
  font-size: 26px;
  margin: 0;
}

.card button {
  transition: all 0.2s ease-in-out 0ms;
  border: none;
  justify-content: center;
  padding: 5px 15px;
  background-color: #2cbbd4;
  color: #fff;
  border-radius: 3px;
  margin-left: -2px;
}

.card button:hover {
  background-color: #72e0f3;
  box-shadow: 0px 0px 20px -18px;
}

.card button:active {
  transform: scale(0.95);
}
