.login-box-dark {
    border: 1px solid white;
    color: #212529;
}

.book-item-container-dark{
    color:  #212529;
}

.img-login{
    min-width: 350px;
    margin-left: 50px;
}

.login-form{
    width: 60%;
}

