.login-box-dark {
    border: 1px solid white;
    color: #212529;
}

.book-item-container-dark{
    color:  #212529;
}

.img-login{
    min-width: 350px;
    margin-left: 50px;
}

.login-form{
    width: 60%;
}

@media (max-width: 823px) { 
    .container{
        width: 100%;
    }
    .login-cointainer{
        display: flex;
        flex-direction: column;
        
    }
    .login-form{
        width: 80%;
    }
}
