/* Tema claro */
.light-theme {
  border: 2px solid #63e4f2;
}

.light-theme ::placeholder {
    color: #888888;
  }
  
/* Tema oscuro */
.dark-theme {
    border: 2px solid #ed409f;
  }

.dark-theme ::placeholder {
    color: #dddddd;
  }
  